
@{
    ViewBag.Title = "CompanyHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Company Home</h2>

<div>
    @Html.ActionLink("Add Jobs","Jobs_Pageload","Jobs")
</div>

<div>
    @Html.ActionLink("View Applicants","Applicant_PageLoad","JobApplicants")
</div>

