
@{
    ViewBag.Title = "UserHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Home</h2>
<div>
    @Html.ActionLink("Search for JOBs", "searchjob_Pageload", "JobView")
</div>

<div>
    @Html.ActionLink("Applied Jobs","appliedjob_pageload","AppliedJobs")
</div>

